<% layout("/layouts/boilerplate")%>
<style>
  /* Mobile responsive styles for login page */
  @media (max-width: 768px) {
    .login-container {
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding: 0 1rem;
    }
    
    .login-container h2 {
      text-align: center;
      font-size: 1.5rem;
    }
    
    .btn {
      width: 100%;
      padding: 0.75rem;
    }
  }
</style>
<div class="row mt-3">
    <div class="col-12 col-md-6 offset-md-3 login-container">
        <h2>Login for WanderLust</h2><br><br>
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <div class="md-3">
                <label for="username" class="form-lebel">Username</label>
                <input type="text" name="username" class="form-control" required />
            </div><br>
            <div class="md-3">
                <label for="password" class="form-lebel">Password</label>
                <input type="password" id="password" name="password" class="form-control" required />
            </div><br><br>
            <button class="btn btn-success">Login</button>
        </form>
    </div>
</div>