<% layout("/layouts/boilerplate")%>
<style>
  /* Mobile responsive styles for signup page */
  @media (max-width: 768px) {
    .signup-container {
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding: 0 1rem;
    }
    
    .signup-container h2 {
      text-align: center;
      font-size: 1.5rem;
    }
    
    .btn {
      width: 100%;
      padding: 0.75rem;
    }
  }
</style>
<div class="row mt-3">
    <div class="col-12 col-md-6 offset-md-3 signup-container">
        <h2>SignUp for WanderLust</h2><br><br>
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <div class="md-3">
                <label for="username" class="form-lebel">Username</label>
                <input type="text" name="username" class="form-control" required />
                <div class="valid-feedback">Looks Good..!</div>
            </div><br>
            <div class="md-3">
                <label for="email" class="form-lebel">Email</label>
                <input type="email" id="email" name="email" class="form-control" required />
                <!-- <div class="valid-feedback">Looks Good..!</div> -->
            </div><br>
            <div class="md-3">
                <label for="password" class="form-lebel">password</label>
                <input type="password" id="password" name="password" class="form-control" required />
                <!-- <div class="valid-feedback">Looks Good..!</div> -->
            </div><br><br>
            <button class="btn btn-success">SignUp</button>
        </form>
    </div>
</div>